/*
  Module selectors
***************************************************************************/
.icon-menu {
  float: right;
  margin-right: 2em;
  font-size: 1.5em;
  color: #1db80a;
}

.table {
  display: table;
  margin: 0 auto;
}

.table ul {
  display: none;
  padding: 0 1em;
  list-style: none;
}

.table li {
  padding-right: 2em;
  display: inline;
}
