/*
  Module selectors
***************************************************************************/
.main-nav ul {
  display: none;
}

.main-nav ul li {
  list-style: none;
  padding: .2em;
}

.template {
  display: none;
}
